.item {
    display: flex;
    background-color: lightcoral;
    line-height: 1.5; /* Adjust line height for better readability */
    align-items: center; /* Vertically align the image and text */
    margin: 2px;
    width: 99vw;
    padding: 10px; /* Add padding to ensure content isn't squashed */
}

.item a {
    display: flex;
    align-items: center; /* Align image and text vertically */
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
}

.item img {
    height: 50px;
    width: auto;
    object-fit: contain;
    margin-right: 10px; /* Space between image and text */
}

.item div {
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column; /* Allow text to wrap within the container */
    justify-content: flex-start; /* Align text at the top of the container */
    align-items: flex-start; /* Align text left and top */
    margin-right: 20px;
}

.item div a {
    text-decoration: underline;
    display: inline; /* <-- New line: Keeps name inline with the description */
}

.item div div {
    display: inline; /* <-- New line: Ensures description stays inline with the name */
    margin-left: 3px; /* Add space between name and description */
    font-size: 0.9em; /* Optional: Make the description text smaller */
}

.container {
    margin-top: 20px;
    overflow: hidden;
    align-items: flex-start;
    display: flex;
    flex-direction:column;
}

.container a, .container a:visited {
    color: blue;
    text-decoration: none;
}

.container a:hover, container a:focus{
    color: darkblue;
    text-decoration: underline;
}

/* Style the buttons */
.button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.button:hover {
    background-color: #ddd;
}

.button.active {
    background-color: #666;
    color: white;
}